@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --box-shadow: 4px 4px 4px #00000020;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #ececec;
    min-height: 100vh;
}

.container {
    font-size: 1.2rem;
    margin: .6rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    width: 68rem;
}

.navbar {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 7rem;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    box-shadow: 4px 4px 4px #00000020;
}

.links {
    display: flex;
    font-size: 1.7rem;
    gap: 2rem;
}

.logo, .profile {
    height: 7rem;
    width: 7rem;
}

.profile {
    margin-top: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68rem;
    margin: .6rem;
    background-color: #ffffff; /* Fundo branco do conteúdo */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin-top: 4rem;
}

header input, header select {
    background-color: #d6d6d6;
    height: 4rem;
    width: 17rem;
    border-radius: .3rem;
}

header button {
    background-color: #03658c;
    color: white;
    font-size: 1.2rem;
    height: 4rem;
    width: 9rem;
    border-radius: .3rem;
}

header label {
    font-size: 1.6rem;
    color: #000000; /* Cor black para títulos */
}

header form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Container para centralizar o botão */
.add-button-container {
    display: flex; /* Usa Flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo para o botão */
.add-button {
    width: 11rem;
    display: flex; /* Usa Flexbox para alinhar a imagem e o texto */
    align-items: center; /* Alinha a imagem e o texto verticalmente no centro */
    padding: .4rem;
    font-size: 1rem;
    color: #333; /* Cor do texto */
    background-color: #fff; /* Cor de fundo branco */
    border: 2px solid #ddd; /* Borda cinza clara */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    text-decoration: none; /* Remove o sublinhado do link */
    transition: background-color 0.3s, color 0.3s; /* Transição suave para efeitos de hover */
}

.add-button:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
    color: #000; /* Cor do texto ao passar o mouse */
}

.add-button-image {
    height: 2rem; /* Altura da imagem */
    width: 2rem; /* Largura da imagem */
    margin-right: 0.5rem; /* Espaço entre a imagem e o texto */
}

table {
    width: 100%;
}

.produtos-tabela th {
    padding-right: 7rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: #03658c;
    height: 6rem;
}

.container tr:nth-child(even) {
    background-color: #e0e0e0;
}

.produtos-tabela td {
    padding-left: 2rem;
    height: 7rem;
    text-align: left;
}

/* Modal Container */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1000; /* Garante que o modal fique sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona rolagem se o conteúdo exceder a altura da tela */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    backdrop-filter: blur(5px); /* Aplica o efeito de desfoque no fundo */
    -webkit-backdrop-filter: blur(5px); /* Para suporte no Safari */
    display: flex; /* Flexbox para centralizar o modal */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    width: 50%; /* Largura do modal é 50% da tela */
    max-height: 700px;
    max-width: 700px; /* Largura máxima do modal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito de profundidade */
    border-radius: 10px; /* Bordas arredondadas */
    position: relative; /* Necessário para posicionar o botão de fechar */
    padding: 1rem; /* Espaçamento interno do modal */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
}

/* Botão de Fechar */
.close {
    position: absolute; /* Posiciona o botão de fechar relativamente ao .modal-content */
    top: 1rem; /* Espaçamento do topo */
    right: 1rem; /* Espaçamento da direita */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1010; /* Garante que o botão de fechar fique sobre o conteúdo do modal */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
/* Título */
#titulo {
    font-size: 2rem;
    margin-bottom: 1rem; /* Espaçamento abaixo do título */
}

/* Formulário no Modal */
.modal-content form {
    display: flex;
    flex-direction: column; /* Organiza inputs verticalmente */
    gap: 0.7rem; /* Espaçamento entre os campos do formulário */
}

/* Inputs e Textarea */
.modal-content .form-group {
    display: flex; /* Flexbox para alinhar label e input horizontalmente */
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center;
}

.modal-content label {
    flex: 0 0 25%; /* Largura do label, ajuste conforme necessário */
    font-size: 1rem; /* Tamanho do texto do label */
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content textarea {
    padding: 0.2rem; /* Espaçamento interno dos inputs */
    background-color: #d6d6d6; /* Fundo cinza claro */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: .3rem; /* Bordas arredondadas */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    flex: 1; /* Expande o input para preencher o espaço restante */
}

/* Contêiner do botão */
.button-container {
    display: flex;
    justify-content: flex-end; /* Alinha o botão à direita */
    gap: 1rem;
}

/* Botão de Submit */
.modal-content input[type="submit"] {
    width: 8rem ;
    background-color: #03658c; /* Fundo azul */
    color: white; /* Texto branco */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content input[type="button"] {
    width: 8rem ;
    background-color: #c10e0e; /* Fundo azul */
    color: white; /* Texto branco */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Botão de Submit Hover */
.modal-content input[type="submit"]:hover {
    background-color: #024e7c; /* Azul escuro ao passar o mouse */
}

.modal-content input[type="button"]:hover {
    background-color: #9c1717;
}

