@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --box-shadow: 4px 4px 4px #00000020;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #ececec;
    min-height: 100vh;
}

.container {
    font-size: 1.2rem;
    margin: .6rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    width: 68rem;
}

.navbar {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 7rem;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    box-shadow: 4px 4px 4px #00000020;
}

.links {
    display: flex;
    font-size: 1.7rem;
    gap: 2rem;
}

.logo, .profile {
    height: 7rem;
    width: 7rem;
}

.profile {
    margin-top: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68rem;
    margin: .6rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin-top: 4rem;
}

header input, header select {
    padding-left: 1rem;
    background-color: #d6d6d6;
    height: 3rem;
    border-radius: .3rem;
}

header input {
    width: 12rem;
}

header select {
    width: 12rem;
}

header #busca {
    background-color: #03658c;
    color: white;
    font-size: 1.2rem;
    height: 3rem;
    width: 9rem;
    border-radius: .3rem;
}

.add-button-container-ins {
    display: flex;
    background-color: #038c3d;
    color: white;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 9rem;
    border-radius: .3rem;
    margin-left: auto;
}

header form {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
}

.openInsertModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button-image {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

table {
    width: 100%;
}

.btn-editar img {
   width: 2.5rem;
}

.produtos-tabela th {
    padding-right: 7rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: #03658c;
    height: 6rem;
}

.container tr:nth-child(even) {
    background-color: #e0e0e0;
}

.produtos-tabela td {
    padding-left: 2rem;
    height: 7rem;
    text-align: left;
}

/* Modal Container */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 800px; /* Largura do modal */
    height: auto; /* Altura automática para conteúdo */
    max-height: none; /* Remova ou ajuste a altura máxima */
    overflow-y: hidden; /* Remove a rolagem vertical */
    border-radius: 10px;
    padding: 1.5rem; /* Ajuste conforme necessário */
}

#insertModal h2 {
    font-size: 2rem;
    padding: 1rem 0; /* Ajuste o valor conforme necessário */
    margin-bottom: 1.5rem; /* Para aumentar o espaço abaixo do título */
}

/* Estilos dos Inputs e Textarea */
.form-group input, .form-group textarea {
    width: calc(100% - 20px); /* Aumenta a largura dos inputs */
    height: 3rem;
    padding: 0.75rem; /* Padding ajustado */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #d6d6d6;
}

/* Ajuste específico para o textarea */
.modal-content textarea {
    height: 100px; /* Altura do textarea ajustada */
}

.flex-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.flex-row label {
    width: 100px; /* Largura fixa para os labels */
    margin-right: 1rem; /* Espaçamento à direita do label */
}

.flex-row input.qntd-input {
    width: 70%; /* Ajuste a largura conforme necessário */
    padding-left: 0.5rem; /* Adicione um pouco de padding à esquerda */
    margin-left: 0; /* Remova qualquer margem à esquerda que possa estar afetando */
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    margin-top: auto; /* Empurra os botões para o final do modal */
}

.btn-delete, .btn-add {
    background-color: #038c3d; /* Verde para o botão adicionar */
    color: white;
    font-size: 1.2rem; /* Tamanho de fonte igual aos botões da header */
    border-radius: .3rem; /* Arredondar bordas */
    border: none;
    padding: 0.75rem 1rem; /* Dimensões iguais aos botões da header */
    margin-left: 0.5rem; /* Espaçamento entre os botões */
    cursor: pointer;
    width: auto; /* Largura automática */
    height: 3rem; /* Mesma altura dos botões da header */
}

.btn-delete {
    background-color: #c0392b; /* Vermelho para o botão excluir */
}

.btn-add-full {
    background-color: #038c3d; /* Verde */
    color: white;
    font-size: 1.2rem; /* Tamanho da fonte */
    border-radius: .3rem; /* Bordas arredondadas */
    border: none; /* Sem borda */
    padding: 0.75rem; /* Padding vertical */
    width: calc(100% - 20px); /* Largura total do botão */
    cursor: pointer; /* Cursor pointer ao passar o mouse */
}

.modal-content input[type="submit"], .modal-content input[type="button"] {
    width: auto; /* Ajusta a largura dos botões para automática */
}

.close {
        cursor: pointer;
        font-size: 1.5rem;
        color: #03658c; /* Cor azul */
        position: absolute; /* Para que possamos posicioná-lo */
        right: 1rem; /* Distância da borda direita */
        top: 1rem; /* Distância do topo */
        background: none; /* Remover qualquer fundo */
        border: none; /* Remover borda */
        padding: 0; /* Remover padding */
        z-index: 1001; /* Garantir que esteja acima do modal */
}

#insertQuantidade {
    width: 20rem; /* Ajuste a largura conforme necessário */
}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #03658c; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
    background: #025e7a; /* Cor ao passar o mouse */
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1000; /* O modal deve estar acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

